<div class="ui container" id='root-container'>
  <h1>Event Management System</h1>
  <h2>Add Event</h2>

  <form class="ui form">
    <div class="field">
      <label>Name</label>
      <input type="text" name="event-name" placeholder="Event Name" [(ngModel)]='event.name'>
    </div>
    <div class="field">
      <label>Date</label>
      <input type="text" name="last-name" placeholder="Event Date (dd/mm/yy)" [(ngModel)]='event.date'>
    </div>
    <div class="field">
      <label>Duration</label>
      <input type="text" name="last-name" placeholder="Event Duration" [(ngModel)]='event.duration'>
    </div>
    <button class="ui blue button" type="submit" (click)='addEvent()'>Add</button>
  </form>
</div>